.links {
  padding-top: 20px;
}

.search-fields {
  padding-top: 20px;
}

.btn-info {
  color: black;
}

.task-table {
  margin-top: 10px;
}

.search-form {
  width: 30%;
}

.pagination {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: -5px;
}
